/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./src/components/layout/NavbarMinimal.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.NavbarMinimal_navbar__mlz1J {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-surface);
}

.NavbarMinimal_container___u0dS {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 var(--space-8);
  width: 100%;
}

.NavbarMinimal_logo__4_UtX {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  text-decoration: none;
  color: var(--color-text-primary);
}

.NavbarMinimal_logoIcon__uTzwI {
  font-size: var(--text-xl);
}

.NavbarMinimal_logoText__MW2LL {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
}

